* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & ::-webkit-scrollbar {
    display: none;
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}
:root {
  font-size: 62.5%;
}

@font-face {
  font-family: "OleoScript";
  src: url(../media/OleoScriptSwashCaps-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OleoScript";
  src: url(../media/OleoScriptSwashCaps-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courgette";
  src: url(../media/Courgette-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Literata";
  src: url(../media/Literata_18pt-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15rem;
  position: sticky;
  top: 0;
  background:
    linear-gradient(to top, pink, rgba(255, 255, 255, 0.821)),
    url(../media/girona-interior.jpg) center / cover no-repeat;
  font-family: "OleoScript", sans-serif;
  color: cornflowerblue;
  box-shadow: 0px 1px 12px grey;
  z-index: 2;
}

#hero_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-size: 3.2rem;
  font-weight: 700;
  font-weight: bold;
  font-size: 5.8rem;
  padding-top: 2rem;
  text-shadow:
    1px 1px 1.5px rgb(94, 94, 94),
    -1px -1px 1.5px rgb(94, 94, 94);
  letter-spacing: 2px;
}

#navbar {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  width: 100%;
  height: fit-content;
  margin-top: auto;
  font-weight: normal;
  font-size: 2.9rem;
  text-shadow:
    1px 1px 10px rgb(94, 94, 94),
    -1px -1px 0px rgb(94, 94, 94);
  letter-spacing: 1px;
  & div:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(72, 95, 138);
    transition: 0.25s ease-in-out;
    transform: scale(1.05);
  }
}

#main_div {
  width: 100%;
  height: calc(100vh - 15rem);
  background:
    linear-gradient(rgba(255, 192, 203, 0.595), rgba(255, 255, 255, 0.5)),
    url(../media/raw-pork-feet.png) center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  width: min(85rem, 70%);
  padding: 2.5rem;
  margin: 3rem auto;
  position: relative;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow:
    2px 2px 5px 3px grey,
    -2px 2px 3px grey;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-family: "Courier New", Courier, monospace;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  position: relative;
  margin-top: auto;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(255, 192, 203, 0.595),
    rgba(255, 255, 255, 0.3)
  );
  font-family: "OleoScript", sans-serif;
  font-size: 1.6rem;
  color: cornflowerblue;
  letter-spacing: 2px;
  gap: 0.5rem;
  & span {
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px black;
  }
  & a {
    display: flex;
    align-items: center;
    font-size: 2rem;
  }
  & a:hover {
    color: rgb(72, 95, 138);
  }
}

.titles {
  font-family: "Courgette", cursive;
  color: cornflowerblue;
  text-shadow: 1px 1px 1px black;
  font-size: 3.5rem;
  padding: 0 2rem;
  align-self: start;
}

.content_div {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: fit-content;
  padding: 0 2rem;
}

.text {
  font-family: "Literata", serif;
  font-size: 1.6rem;
}

.images {
  width: 12rem;
  height: auto;
  padding: 0;
  border-radius: 50%;
}

.history, .brasa {
  text-align: right;
}

#history_title, #brasa_title {
  align-self: flex-end;
}

#history_div, #brasa_div {
  flex-direction: row-reverse;
}

#history_img {
  border-radius: 0;
}

.image_credits {
  & a {
    text-decoration: none;
    color: inherit;
  }
}